{% block element_custom_shop_the_look %}
    {% set enablePrices = element.config.enablePrices.value %}
    {% set enableAddToCartSingle = element.config.enableAddToCartSingle.value %}
    {% set enableVariantSwitch = element.config.enableVariantSwitch.value %}
    {% set enableAddToCartAll = element.config.enableAddToCartAll.value %}
    {% set hoverCardHideButton = element.config.hoverCardHideButton.value %}

    {#{% if context.currentCustomerGroup.id == config('Customise_ShopTheLook.config.customerGroup') %}
        {% set enablePrices = false %}
        {% set enableAddToCartSingle = false %}
        {% set enableAddToCartAll = false %}
    {% endif %}#}
    {% if config('Customise_ShopTheLook.config.active') === true %}
        <div class="cms-element-{{ element.type }} {{ element.config.style.value }}"
             style="--products-width: {{ element.config.productsWidth.value ?: "380px" }}">
            {% if element.config.style.value != "products" %}
                {% block element_custom_shop_the_look_hotspot_area %}
                    <div class="hotspot-area">
                        <div class="hotspot-area-image">
                            {% if config('Customise_ShopTheLook.config.active') === true %}
                                {% set mediaCollection = searchMedia([app.request.get('imageId')], context.context) %}
                                {% set sportsMedia = mediaCollection.get(sportsMediaId) %}

                                {% for media in mediaCollection %}
                                    <img src="{{ media.url }}" alt="{{ media.alt }}">
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endblock %}
            {% endif %}

            {% if element.config.style.value != "image" %}
                {% block element_custom_shop_the_look_product_list %}
                    <div class="product-list">
                        {% sw_include '@Storefront/plugin/custom-shop-the-look/component/product-buy-list/index.html.twig' with {
                            products: element.data.products.products,
                            config: element.config,

                        } %}
                    </div>
                {% endblock %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
